In [1]:
import numpy as np
import pandas as pd

In [13]:
s1 = pd.Series([1, 10, 100])
s2 = pd.Series([2, 20, 200], index=[4., 5, 6])

df = pd.DataFrame({'one':s1, 'two':s2})
df

       one    two
0.0    1.0    NaN
1.0   10.0    NaN
2.0  100.0    NaN
4.0    NaN    2.0
5.0    NaN   20.0
6.0    NaN  200.0

In [26]:
A = np.arange(9).reshape(3, 3)
df = pd.DataFrame(A, columns=list('QRS'))

In [27]:
df

   Q  R  S
0  0  1  2
1  3  4  5
2  6  7  8

In [35]:
df['Q']

0    0
1    3
2    6
Name: Q, dtype: int32